@charset "UTF-8";
/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
}

h1, h2 {
    font-weight: bold;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}

a:hover {
    color: gray;
}

/* Header */
header {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

/* Body Section */
.body-section {
    padding: 40px;
    text-align: center;
}

.body-section h2 {
    color: black;
}

.body-section ul {
    list-style-type: none;
    padding: 0;
    font-size: 1.2rem;
}

.body-section ul li {
    margin: 10px 0;
}

/* Footer */
footer {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
}

footer p {
    margin: 5px 0;
}